/*
Colors used:
Pure White: #ffffff;
Pistachio Cream: #b9d3b0;
Mermaid Green: #81bda4;
Chocolate Mousse: #b28774;
Coral Lips: #f88f79;
Peachy Keen: #f6aa93;
Text Color: #2b2a2a;
*/

*{
  box-sizing: border-box;
}

header{
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 7px 7px 18px 0px rgba(50, 50, 50, 0.7);
-moz-box-shadow:    7px 7px 18px 0px rgba(50, 50, 50, 0.7);
box-shadow:         7px 7px 18px 0px rgba(50, 50, 50, 0.7);
}

.logo{
  max-width: 250px;
}

nav{
  display: inline-block;
  width: 100%;
}

nav > ul{
  list-style-type: none;
  padding: 0;
}

nav > ul > li{
  display: inline-block;
}

nav > ul > li > a{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2b2a2a;
}

nav > ul > li > a:visited{
  color: #2b2a2a;
}

nav > ul > li > a:hover{
  color: #f6aa93;
}

nav > ul > li > a:active{
  color: #f88f79;
}

#hero span{
  text-align: center;
}

#hero{
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


main{
  padding-top: 133px;
}

body {
  background-color:#ffffff;
  font-family: 'Baskerville', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color:#2b2a2a;

}

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-size: 3.052em;
  font-weight: 400;
}

h2{
  font-size: 2.441em;
  font-size: 400;
}

h3 {
  font-size: 1.953em;
  font-weight: 400;
}

h4 {
  font-size: 1.563em;
  font-weight: 400;
}

img{
  width: 100%
}

a {
  color: #b9d3b0;
  text-decoration: none;
}

a:visited {
  color: #b28774;
}

a:hover,
a:focus {
  color: #81bda4;
  text-decoration: underline;
}

a:active {
  color: #f88f79;
}

.button {
  display: inline-block;
  background-color: #b9d3b0;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #b28774;
  transition: 0.2s opacity;
}

.button:hover {
  opacity:0.8;
  text-decoration: none;
}

.button:active {
  background-color: #f6aa93;
}

.button.contact {
  background-color: transparent;
  color: #f88f79;
  text-transform: uppercase;
  border: 2px solid #f88f79;
}

.button.contact:hover {
  background-color: #f88f79;
  color: #ffffff;
}

#social {
  width: 5%;
}

#social > ul {
  list-style-type: none;
  padding: 0;
}

#social > ul > li {
  display: inline-block;
}

#social > ul > li > a {
  padding: 0 20px;
  text-align: center;
}

.sakura {
  width: 10%;
  text-align: center;
  padding: 10px 0;
}

/* Layout styling */

.container{
  padding: 0 15px;
}

.row{
  margin: 25px 0; /*25px top and bottom, 0 left and right */
}

#work .row{
  padding-bottom: 25px;
  border-bottom: 1px solid #b28774;
}

#main h1{
  text-align: center; /* Centers text */
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
}
