/*
Colors used:
Pure White: #ffffff;
Pistachio Cream: #b9d3b0;
Mermaid Green: #81bda4;
Chocolate Mousse: #b28774;
Coral Lips: #f88f79;
Peachy Keen: #f6aa93;
Text Color: #2b2a2a;
*/

*{
  box-sizing: border-box;
}

header{
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 7px 7px 18px 0px rgba(50, 50, 50, 0.7);
-moz-box-shadow:    7px 7px 18px 0px rgba(50, 50, 50, 0.7);
box-shadow:         7px 7px 18px 0px rgba(50, 50, 50, 0.7);
}

.logo{
  max-width: 250px;
}

nav{
  display: inline-block;
  width: 100%;
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #2b2a2a;
}

nav > ul{
  list-style-type: none;
  padding: 0;
}

nav > ul > li{
  display: inline-block;
}

nav > ul > li > a{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2b2a2a;
}

nav > ul > li > a:visited{
  color: #2b2a2a;
}

nav > ul > li > a:hover{
  color: #f6aa93;
}

nav > ul > li > a:active{
  color: #f88f79;
}

span {
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #2b2a2a;
}

#hero span {
  display: block;
}
#hero{
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}


main{
  padding-top: 133px;
}

body {
  background-color:#ffffff;
  font-family: 'Baskerville', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color:#2b2a2a;

}

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-size: 3.052em;
  font-weight: 600;
}

h2{
  font-size: 2.441em;
  font-weight: 600;
}

h2.pink {
  color: #f88f79;
}

h2.projectBlack {
  text-align: center;
}

h3 {
  font-size: 1.953em;
  font-weight: 600;
}

h3.projectPink {
  color: #f88f79;
}

h4 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1.563em;
  font-weight: 400;
  color: #81bda4;
}

p {
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #2b2a2a;
}

img {
  width: 100%
}

a {
  color: #b9d3b0;
  text-decoration: none;
}

a:visited {
  color: #b28774;
}

a:hover,
a:focus {
  color: #81bda4;
  text-decoration: underline;
}

a:active {
  color: #f88f79;
}

.button {
  display: inline-block;
  background-color: #b9d3b0;
  color: #ffffff;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #f6aa93;
}

.button.contact {
  background-color: transparent;
  color: #f88f79;
  text-transform: uppercase;
  border: 2px solid #f88f79;
}

.button.contact:hover {
  background-color: #f88f79;
  color: #ffffff;
}


/* Layout styling */
.container{
  padding: 0 15px;
}

.row{
  margin: 25px 0; /*25px top and bottom, 0 left and right */
}

#work .row{
  padding-bottom: 25px;

}

#main h1{
  text-align: center; /* Centers text */
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
}

.sakura {
  display: inline-block;
  text-align: center;
  width: 10%;
  margin-top: 50px;
}

.sakuraAnimetop {
    width: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45%;
}

.cls-1 {
  fill: #1769ff;
  fill-rule: evenodd;
}

.cls-2 {
  fill: #fff;
}

.social {
  padding: 0;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.social svg {
  height: 32px;
  width: 32px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* responsive sizing */

/* medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h4 {
  margin-top: 0;
}


[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* large devices (1024px or larger) */
@media only screen and (min-width: 1024px) {

  .col-lg-7{
    width: 58.33%;
  }

  .col-lg-5{
    width: 41.66%;
  }

}

/* x-large devices (1440px or larger) */
@media only screen and (min-width: 1440px) {


}

/* xx-large devices (1920px or larger) */
@media only screen and (min-width: 1920px) {


}
